<h2><%= @task.title %></h2>
<p><%=  @task.details %></p>

<%= link_to "Edit", edit_path %>
<p><%= @task.completed %></p>

<%= link_to "delete", delete_path,
    method: :delete,
      data: { confirm: "Are you sure?" } %>
